<section>
    <div class="container">
        <h3 class="text-center"><strong>Todo - App</strong></h3>
        <div class="jumbotron login-display">
            <h2>Authentication</h2>
            <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)">
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" required [(ngModel)]="email" name="email">
                <br>
                <label for="password">
                    Password:
                </label>
                <input class="form-control" type="password" id="password" required [(ngModel)]="password" name="password">
                <div *ngIf="errorMessage" class="alert alert-danger">
                    <span>{{errorMessage}}</span>
                </div>
                <br>
                <button type="submit" class="btn btn-dynamic" [disabled]="!loginForm.form.valid || !password.trim()">
                    Login
                </button>

                    
            </form>
        </div>
    </div>
</section>