<div>
    <span class="pr-10">{{'title' | translate}} </span>
    <span class="pr-10">{{'welcome' | translate}}, <strong>{{userEmail}}</strong></span>
    <span class="pr-10 pull-right">
        <button class="btn btn-danger" (click) = doLogout()>
            Logout
        </button>
    </span>

    <div class="container display-tasks">
        <span class="app-name">Todo - Application</span>
        <input 
            class="form-control" 
            [(ngModel)]="newTask.todo"
            placeholder="What is next in your todo list" (keyup)="addNewTask($event)">
    </div>
    <div class="task-list">
            <ul>
                <li *ngFor="let task of todos | async |filterTodos: filterType; index as i" >

                    <span class="pull-left"><input type="checkbox" [checked]='task.completed' (change)='completedTask(task.id)'></span>

                    <span class="task" [ngClass]="{'strike-completed': task.completed === true}">{{task.todo | uppercase}}</span>
                    <span class="pull-right remove"><em class="glyphicon glyphicon-remove" (click)="removeSelected(task.id)"></em></span>

                </li>
                <br>
                <li>
                    <span>
                        <input type="checkbox" [checked]= 'isCheckedAll' (change)="checkAll()">
                        check all
                    </span>
                    <span class="pull-right">{{(todos | async | filterTodos: filterType)?.length}} items left</span>
                </li>

            </ul>
            <hr>    
    </div>
    <div class="container actions">
        <button class="btn btn-dynamic pr-2" (click)="displayAllTasks()">{{'all' | translate}}</button>
        <button class="btn btn-secondary pr-2"(click)="displayActiveTasks()">{{'active' | translate}}</button>
        <button class="btn btn-secondary pr-2"(click)="displayCompletedTasks()">{{'completed' | translate}}</button>
        <button class="btn btn-Secondary pull-right" (click)="clearCompleted()">{{'clearCompleted' | translate}}</button>
    </div>
    
</div>

