
.display-tasks {
    margin-top: 5%;
}

.task-list {
    margin-left: 50px !important;
}

ul {
    list-style-type: none;
    width: 80%;
}

li {
    margin: 10px;
    font-size: 20px;
    color: rgb(112, 109, 109);
    
}

.task {
    margin-left: 20px;
}

.remove {
    font-size: 10px;
    padding-top: 3px;
}

li:hover {
    background-color: rgb(226, 224, 224);
    cursor: pointer;
}

.actions > button {
    margin-right: 5px;
}

.strike-completed {
    text-decoration: line-through;
}
