<br>
<div> 
    <div class="col-md-4">
        <label for="language"> {{'changeLanguage'| translate}}
            <select id="language" #changeLang (change)="translate.use(changeLang.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]= "lang">
                        {{lang}}
                </option>
            </select>
        </label>
    </div>

    <div class="col-md-4">
        <label for="colorPicekr">{{'changeTheme' | translate}}</label>
        <input 
        id="colorPicekr"
            [(colorPicker)]="color" 
            [style.background]="color"
            (colorPickerChange)="changeCol($event)"/>
    </div>
</div>
<br>
<router-outlet></router-outlet>

