/* You can add global styles to this file, and also import other style files */
@import './styles/variables';

$primary: var(--primary-color);

.btn-dynamic {
    background-color: $primary !important;
    color: #fff;
}

.app-name {
    font-size: 40px;
    color: $primary;
}

.btn-secondary {
    border: 1px solid black;
}